<div class="container">
  <div class="header">
    <span>Comunidad Luca</span>
  
    <span class="spacer"></span>
  
    <button class="new-question-button" mat-raised-button color="primary">Nueva Pregunta</button>
  </div>

  <mat-tab-group dynamicHeight selectedIndex="0">
    <mat-tab label="Populares"></mat-tab>
  
    <mat-tab label="Nuevos" disabled></mat-tab>
  
    <mat-tab label="Seguidos" disabled></mat-tab>
  </mat-tab-group>
  
  <mat-list>
    <mat-list-item>
      <mat-icon matListIcon>account_circle</mat-icon>

      <div class="mat-line-header" matLine>
        <h3>Cuales son los multiplos del 7? Cuales son los multiplos del 7?</h3>

        <span class="spacer"></span>

        <mat-icon svgIcon="ic_message" matBadge="50"></mat-icon>
      </div>

      <p matLine>
        <span>La verdad no me queda claro queles son los multiplos del 7 parque...</span>
      </p>

      <div class="mat-line-footer" matLine>
        <button mat-icon-button>
          <mat-icon svgIcon="ic_thumbs_up"></mat-icon>
        </button>

        <button mat-icon-button>
          <mat-icon svgIcon="ic_thumbs_down"></mat-icon>
        </button>

        <span>Pergunta juan.c23 Mathematicas 6</span>

        <span class="spacer"></span>

        <button mat-icon-button>
          <mat-icon>share</mat-icon>
        </button>

        <button mat-icon-button>
          <mat-icon>star_border</mat-icon>
        </button>
      </div>
    </mat-list-item>

    <mat-list-item>
      <mat-icon matListIcon>account_circle</mat-icon>

      <div class="mat-line-header" matLine>
        <h3>Cuales son los multiplos del 7?</h3>

        <span class="spacer"></span>

        <mat-icon svgIcon="ic_message" matBadge="10"></mat-icon>
      </div>

      <p matLine>
        <span>La verdad no me queda claro queles son los multiplos del 7 parque...</span>
      </p>

      <div class="mat-line-footer" matLine>
        <button mat-icon-button>
          <mat-icon svgIcon="ic_thumbs_up"></mat-icon>
        </button>

        <button mat-icon-button>
          <mat-icon svgIcon="ic_thumbs_down"></mat-icon>
        </button>

        <span>Pergunta juan.c23 Mathematicas 6</span>

        <span class="spacer"></span>

        <button mat-icon-button>
          <mat-icon>share</mat-icon>
        </button>

        <button mat-icon-button>
          <mat-icon>star_border</mat-icon>
        </button>
      </div>
    </mat-list-item>

    <mat-list-item>
      <mat-icon matListIcon>account_circle</mat-icon>

      <div class="mat-line-header" matLine>
        <h3>Cuales son los multiplos del 7?</h3>

        <span class="spacer"></span>

        <mat-icon svgIcon="ic_message" matBadge="100"></mat-icon>
      </div>

      <p matLine>
        <span>La verdad no me queda claro queles son los multiplos del 7 parque...</span>
      </p>

      <div class="mat-line-footer" matLine>
        <button mat-icon-button>
          <mat-icon svgIcon="ic_thumbs_up"></mat-icon>
        </button>

        <button mat-icon-button>
          <mat-icon svgIcon="ic_thumbs_down"></mat-icon>
        </button>

        <span>Pergunta juan.c23 Mathematicas 6</span>

        <span class="spacer"></span>

        <button mat-icon-button>
          <mat-icon>share</mat-icon>
        </button>

        <button mat-icon-button>
          <mat-icon>star_border</mat-icon>
        </button>
      </div>
    </mat-list-item>

    <mat-list-item>
      <mat-icon matListIcon>account_circle</mat-icon>

      <div class="mat-line-header" matLine>
        <h3>Cuales son los multiplos del 7?</h3>

        <span class="spacer"></span>

        <mat-icon svgIcon="ic_message" matBadge="1"></mat-icon>
      </div>

      <p matLine>
        <span>La verdad no me queda claro queles son los multiplos del 7 parque...</span>
      </p>

      <div class="mat-line-footer" matLine>
        <button mat-icon-button>
          <mat-icon svgIcon="ic_thumbs_up"></mat-icon>
        </button>

        <button mat-icon-button>
          <mat-icon svgIcon="ic_thumbs_down"></mat-icon>
        </button>

        <span>Pergunta juan.c23 Mathematicas 6</span>

        <span class="spacer"></span>

        <button mat-icon-button>
          <mat-icon>share</mat-icon>
        </button>

        <button mat-icon-button>
          <mat-icon>star_border</mat-icon>
        </button>
      </div>
    </mat-list-item>
  </mat-list>
</div>